<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="assets/img/my_image.png" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>Ibrahim Anis</span></p>
                    <p><span class="title-s">Profile: </span> <span>Software Developer</span></p>
                    <p><span class="title-s">Email: </span> <span>anisibrahim21@gmail.com</span></p>
                    <p><span class="title-s">Phone: </span> <span>+917898607653</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skills</p>
                <span>C</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>C++</span> <span class="pull-right">95%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Java</span> <span class="pull-right">95%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>Python</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  Hey there!<br/>
                  My name is <b>Ibrahim Anis</b> and I am a recent graduate software engineer from Khargone.
                </p>
                <p class="lead">
                  <b>I am passionate for programming</b> and I love the challenge of finding a way and discovering
                  solutions.I can take vague problems and requirements and break them down into steps and solutions.
                  . I have diverse skillset from <b>C,C++ and Java</b> to frameworks like <b>Django,Angular and React</b>. 
                </p>
                <p class="lead">
                  Wondering If I might be a good fit for your company? Check out my <a href="https://drive.google.com/file/d/1AawAhedGJlIdevL2iFGksZb6aIBOL8lb/view?usp=sharing"><i>resume</i></a> and
                  my <a href="https://linkedin.com/in/ibrahimanis"><i>Linkedin profile</i></a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
