
<!-- Education-->
<section id="education" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
           Education
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
        <img src="assets/img/gps_logo.png" class="center img-fluid rounded b-shadow-a" alt="">
          
          <div class="service-content">
            <h2 class="s-title">High School</h2>
            <p class="s-description text-center">
              I completed my High School from Gokuldas Public School (CBSE) in 2014 and scored 9.6 CGPA in 10th Board.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <img src="assets/img/svps_logo.jpg" class="center img-fluid rounded b-shadow-a" alt="">
          <div class="service-content">
            <h2 class="s-title">Higher Secondary</h2>
            <p class="s-description text-center">
              I completed my Higher Secondary Education from Swami Vivekanand Public School in 2016
              and secured 86.4% in 12th Board.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <img src="assets/img/uecu_logo.png" class="center img-fluid rounded b-shadow-a" alt="">
          <div class="service-content">
            <h2 class="s-title">Graduation</h2>
            <p class="s-description text-center">
              I have been pursuing my B.Tech from Ujjain Engineering College.I secured 6.95 CGPA till
              7th Semester.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Experience-->

<section id="experience" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Experience
          </h3>
          <p class="subtitle-a">
          Intern at Thinking Machines. (May 2019 - August 2019)
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><img src="assets/img/tm_logo.png" class="logo" alt=""></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Java Developer Intern</h2>
            <p class="s-description text-center">
              I worked as an intern at Thinking Machines and Designed a multi-threaded library using Java technology that
              will help the programmers to get rid of writing socket programming code while creating a client-server application
              You can checkout my work <a href="https://github.com/ibrahimAnis/generic_socket_framework">here</a></p>
          </div>
        </div>
      </div>
      </div>
  </div>
</section>

<!--Services--
<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Services
          </h3>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Software Developer</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Full Stack Developer</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ionicons ion-android-laptop"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Front End Developer</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ionicons ion-network"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Machine Learning Engineer</h2>
            <p class="s-description text-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
              provident vitae! Magni
              tempora perferendis eum non provident.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>



</section>-->
