
<section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Projects
          </h3>
          <p class="subtitle-a">
            Projects that I worked on during my graduation
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
            <div class="work-img">
              <!-- click function ko gol bracket me nhi likhenge to openModal function load nhi hoga-->
              <img src="assets/img/database_designing_tool.jpeg" (click)="openModal('custom-modal-1')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Database Designing Tool</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">March 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
      </div>
      
      <div class="col-md-4">
        <div class="work-box">
            <div class="work-img">
              <img src="assets/img/socket.jpg" (click)="openModal('custom-modal-2')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Generic Socket Framework</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Desktop Application</span> / <span class="w-date">May. 2019</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
            <div class="work-img">
              <img src="assets/img/neural_network.jpeg" (click)="openModal('custom-modal-3')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Path Finder Visualizer</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Frontend</span> / <span class="w-date">June. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <!---
      <div class="col-md-4">
        <div class="work-box">
         
            <div class="work-img">
              <img src="assets/img/screen_share.jpeg" (click)="openModal('custom-modal-2')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Generic Socket Framework</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Software Development</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
            <div class="work-img">
              <img src="assets/img/ds_visualizer.jpeg" (click)="openModal('custom-modal-2')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Data Structure Visualizer</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <div class="work-img">
              <img src="assets/img/library_management.jpeg" (click)="openModal('custom-modal-2')" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Library Management System</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Desktop Application</span> / <span class="w-date">18 Sep. 2017</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
    
        </div>
      </div>
    -->
    </div>
    </div>
</section>
   
<app-modal id="custom-modal-1">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><!--i class="fa fa-close" (click)="closeModal('custom-modal-1')" class="top-right" style="font-size:48px;"></i--></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <!-- Project Details Go Here-->
                    <h2 style="text-align:center;font-size: 3rem;line-height: 3rem;text-transform: uppercase;">Database Designing Tool</h2>
                    <br/>
                    <!--video class="img-fluid d-block mx-auto" src="assets/video/aidm-video.mp4" type="video/mp4" controls>
                    <source src="assets/video/aidm-video.mp4" type="video/mp4">
                    </video-->
                    <div class=iframe-container>
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/SwQtIMmi6o8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br/>
                    <p>Desinging Database Schema for a project is always fun but writing SQL script is not.Using SQL shell to write SQL script is always hectic.You can generate SQL script but in only one RDBMS language if you use any tool like MySQL Workbench.To bridge these gaps I designed this app.This web based tool provides a canvas to draw database schema and to visualize it.This tool can also generate SQL script in 3 different RDBMS technology.You can download the image of schema and you don't need to install any application on your desktop.</p>
                    <a class="btn btn-primary" data-dismiss="modal" type="button" style="position:relative; margin-left:20rem" href="https://github.com/ibrahimAnis/DatabaseDesigningTool"><i class="fa fa-github mr-1"></i>View Code</a>
                </div>
            </div>
        </div>
    </div>
</div>

</app-modal>


<app-modal id="custom-modal-2">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><!--i class="fa fa-close" (click)="closeModal('custom-modal-2')" class="top-right" style="font-size:48px;"></i--></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <!-- Project Details Go Here-->
                    <h2 style="text-align:center;font-size: 3rem;line-height: 3rem;text-transform: uppercase;">Generic Socket Framework</h2>
                    <br/>
                    <!--video class="img-fluid d-block mx-auto" src="assets/video/gsf.mp4" type="video/mp4" controls>
                    <source src="assets/video/gsf-video.mp4" type="video/mp4">
                    </video-->
                    <div class="iframe-container">
                    <iframe width="700" height="315" src="https://www.youtube.com/embed/rSqptoxfRoc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br/>
                    <p>Creating a Client-Server based application in Java is always cumbersome.You have to import so many packages and call functions.But using this module you don't have to worry about writing Socket Programming Code.You just need to focus on business logic and the whole work will be done by this module.You can see in video how to use this module in your desktop application.</p>
                    <a class="btn btn-primary" data-dismiss="modal" type="button" style="position:relative; margin-left:20rem" href="https://github.com/ibrahimAnis/generic_socket_framework"><i class="fa fa-github mr-1"></i>View Code</a>
                </div>
            </div>
        </div>
    </div>
</div>

</app-modal>

<app-modal id="custom-modal-3">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal"><!--i class="fa fa-close" (click)="closeModal('custom-modal-3')"  style="font-size:48px;"></i--></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="modal-body">
                    <!-- Project Details Go Here-->
                    <h2 style="text-align:center;font-size: 3rem;line-height: 3rem;text-transform: uppercase;">Path Finder Visualizer</h2>
                    <br/>
                    <!--video class="img-fluid d-block mx-auto" src="assets/video/aidm.webm" type="video/webm" controls>
                    <source src="assets/video/aidm.webm" type="video/webm">
                    </video-->
                    <div class="iframe-container">
                    <iframe width="660" height="315" src="https://ibrahimanis.gtihub.io/path-finder-visualizer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <br/>
                    <p>This project is developed to visualise the dif-
                      ferent graph searching algorithms used in
                      solving and creating a maze. The algorithms
                      include: BFS, DFS, Dijkstra,Greedy BFS,A* and
                      Swarm, along with some maze generating algorithms.</p>
                    <a class="btn btn-primary" data-dismiss="modal" type="button" style="position:relative; margin-left:20rem" href="https://ibrahimanis.gtihub.io/path-finder-visualizer"><i class="fa fa-github mr-1"></i>Demo</a>
                </div>
            </div>
        </div>
    </div>
</div>

</app-modal>